{% extends 'core/base.html' %}

{% block titulo %}
Autores
    {% if form.intance.pk %}
    Editar
    {% else %}
    Crear
    {% endif %}
Autores: creacion
{% endblock titulo %}

{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="fs-3 pb-4 ">
        <a href="{% url 'autores:home' %} ">Volver al inicio de Autores</a>
    </div>
{% endblock contenido %}