{% extends 'core/base.html' %}
{% block titulo %}
    Personajes
{% endblock titulo %}
{% block contenido %}
    <div class="fs-3 pb-4 ">
        <a href="{% url 'personaje:nivelmutante_create' %} ">Crear categorias de personajes</a>
    </div>
    <div>
        <a href="{% url 'personaje:nivelmutante_list' %} ">Lista de categoria de personajes</a>
    </div>
    <div class="fs-3 pb-4 ">
        <a href="{% url 'personaje:personaje_create' %} ">Crear de personajes</a>
    </div>
    <div>
        <a href="{% url 'personaje:personaje_list' %} ">Lista de personajes</a>
    </div>
    <div class="fs-3 pb-4 ">
        <a href="{% url 'core:home' %} ">Volver al inicio</a>
    </div>
{% endblock contenido %}
