{% extends 'core/base.html' %}

{% block titulo %}
    Lista de Nivel Mutante
{% endblock titulo %}

{% block contenido %}
    <div class="container py-4">
        <div class="py-lg-4">
            <form action="{% url 'personaje:nivelmutante_list' %}" method="get" class="mb-4">
                <input type="text" name="consulta" placeholder="Buscar..." class="form-control">
            </form>
        </div>
        <div class="list-group">
            {% for nivelmutante in object_list %}
                <a href="{% url 'personaje:nivelmutante_detail' nivelmutante.id %}" class="list-group-item list-group-item-action">
                    {{ nivelmutante.nombre }}
                </a>
            {% endfor %}
        </div>
        <div class="fs-3 pb-4">
            <a href="{% url 'personaje:home' %}" class="btn btn-secondary">Volver al inicio de Personajes</a>
        </div>
    </div>
{% endblock contenido %}
