{% extends 'core/base.html' %}

{% block titulo %}
    {% if form.instance.pk %}
        Editar Nivel Mutante
    {% else %}
        Crear Nivel Mutante
    {% endif %}
{% endblock titulo %}

{% block contenido %}
    <div class="container py-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <div class="fs-3 pb-4">
            <a href="{% url 'personaje:home' %}" class="btn btn-secondary">Volver al inicio de Personajes</a>
        </div>
    </div>
{% endblock contenido %}
