{% extends 'core/base.html' %}
{% block titulo %}
    Detalle Personajes
{% endblock titulo %}
{% block contenido %}
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">{{ object.nombre }}</h2>
            <p class="card-text">
                {% if object.imagen %}
                    <img src="{{ object.imagen.url }}" alt="{{ object.nombre }}" height="200" width="200"><br>
                {% else %}
                    <strong>Imagen:</strong> No disponible<br>
                {% endif %}
                <strong>Nombre Real:</strong> {{ object.nombre_real }}<br>
                <strong>Nivel Mutante:</strong> {{ object.categoria_id }}<br>
                <strong>Poderes:</strong> {{ object.poderes }}<br>
                <strong>Edad:</strong> {{ object.edad }}<br>
                <strong>Biografía:</strong> {{ object.biografia }}<br>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{% url 'personaje:personaje_list' %}">Volver al inicio de Personajes</a>
        </div>
    </div>
</div>
{% endblock contenido %}
