{% extends 'core/base.html' %}

{% block titulo %}
    Autores
{% endblock titulo %}

{% block contenido %}
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <div class="fs-3 pb-3">
                    <a href="{% url 'autores:autores_create' %}" class="btn btn-primary">Crear Autores</a>
                </div>
                <div class="pb-3">
                    <a href="{% url 'autores:autores_list' %}" class="btn btn-primary">Lista de Autores</a>
                </div>
            </div>
        <div class="fs-3 pb-4">
            <a href="{% url 'core:home' %}" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </div>
</div>
{% endblock contenido %}
