{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Página dedicada a los X-Men">
        <meta name="Juan Petrich" content="Nombre del autor">
        <title>{% block title %}X-Men{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">
        <style>
            body {
                background-color: #f4f4f4;
                color: #333;
            }
            .container {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'core/components/navbar.html' %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% block titulo %}
            <!-- Aquí puedes colocar el título de la página -->
            {% endblock titulo %}
            {% block contenido %}
            <!-- Aquí puedes colocar el contenido de la página -->
            {% endblock contenido %}
        </div>
        <!-- Footer-->
        {% include 'core/components/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>
    </body>
</html>
